@charset 'UTF-8';

body, ul, li {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #1d1e20;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
}

h1 {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
    gap: 20px;
}

.grid > div:nth-child(n + 4) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.grid > div.anuncio {
    grid-column: 1;
    grid-row: 2 / 5;
    display: block;
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid > div:nth-child(n + 4) {
        display: block;
    }

    .grid > div.anuncio {
        grid-column: auto;
        grid-row: auto;
        order: -1;
    }
}